.subscribe {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subscribe-btn {
    height: 50px;
    align-self: center;
}

.modal {
    position: absolute;
    top: 25%;
    left: 25%;
    bottom: 25%;
    right: 25%;
    width: 50vw;
    background-color: white;
}

.close-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
}

.submit-btn {
    width: 100px;
    margin-top: 12px;
    align-self: flex-end;
}

.modal-content {
    border: 1px solid gray;
    padding: 40px;
    display: flex;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}

.dropdown {
    display: flex;
    flex-direction: column;
}